* {
  margin: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: rgba(247, 247, 247, 0.897);
}
